.ship {
  position: absolute;
  width: 32px;
  height: 32px;
}

.laser {
  position: absolute;
  z-index: 100;
}

body {
  /* background-color: black; */
  background: url('/images/starfield.jpg');
  background-size: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
